@use '@/styles/variables.scss' as *;

.inputContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: $subbackground-color;
  color: $text-color;
  border-radius: 5px;
  padding: 7px 12px;

  .icon {
    color: $subtext-color;
  }

  .input {
    font-size: 1.5rem;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;

    &::placeholder {
      color: $subtext-color;
    }
  }
}
