@use '@/styles/variables.scss' as *;

.button {
  color: $text-color;
  background-color: $subbackground-color;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 12px;
  font-size: 1.4rem;

  &.round {
    border-radius: 100px;
  }

  &.square {
    padding: 10px 15px;
  }

  &.active {
    color: $background-color;
    background-color: $text-color;
  }
}
