@use '@/styles/variables.scss' as *;
@use '@/styles/keyframes.scss' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: $text-color;
  background-color: $subbackground-color;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 12px;
  font-size: 1.4rem;
  transition:
    transform ease 0.2s,
    color ease 0.2s,
    border ease 0.2s,
    background-color ease 0.2s;

  .loading {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      animation: rotate 1s ease-out infinite;
    }
  }

  .loading {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      animation: rotate 1s ease-out infinite;
    }
  }

  &.accent {
    background-color: $accent-color;
  }

  &.outline {
    background-color: transparent;
    border: 1px solid $subbackground-color;

    &:not(:disabled):hover {
      background-color: $subbackground-color;
    }
  }

  &.round {
    border-radius: 100px;
  }

  &.square {
    padding: 10px 15px;
  }

  &.active {
    color: $background-color;
    background-color: $text-color;
  }

  &:disabled {
    cursor: auto;
    opacity: 0.6;
    color: $subtext-color;
  }

  &:active {
    transform: scale(0.9);
  }
}
