@use '@/styles/variables.scss' as *;

.errorMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
  padding: 30px;
  background-color: $subbackground-color;
  border-radius: $border-radius;

  .errorImage {
    width: 70px;
  }
}
