@use '@/styles/variables.scss' as *;

.cart {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100%;

  .cartListContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

    .header {
      display: flex;
      justify-content: space-between;
      color: $subtext-color;
      border-bottom: 1px solid $subbackground-color;
      padding: 10px 0;

      .title {
        font-size: 1.6rem;
        font-weight: 500;
      }
    }

    .cartList {
      display: flex;
      flex-direction: column;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 10px;

      .supportText {
        font-size: 1.4rem;
      }

      .supportLink {
        color: yellowgreen;
        &:hover {
          text-decoration: underline;
        }
      }

      .backToHomepage {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $text-color;
        font-size: 1.4rem;
        padding: 5px 10px;
        border: 1px solid $text-color;
        border-radius: $border-radius;
        transition: color ease 0.1s, background-color ease 0.1s;

        &:hover {
          color: $background-color;
          background-color: $text-color;
        }
      }
    }
  }
}
