@use '@/styles/variables.scss' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: $background-color;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $subbackground-color;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 400px;
  max-width: 90%;
}

.title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.content {
  margin-bottom: 15px;
  line-height: 1.5;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}
