$background-color: #0e1518;
$subbackground-color: #bbc7cc34;
$text-color: #f9f8ff;
$subtext-color: #959ca3;
$overlay-color: #000000b7;

$border-radius: 5px;
$navigation-width: 250px;
$header-height: 68.5px;
$gap: 15px;

$mobile-max: 425px;
$tablet-max: 768px;
