@use '@/styles/variables.scss' as *;

.home {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  .movieList {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    flex: 1;
  }
}
