@use '@/styles/variables.scss' as *;

.logo {
  display: flex;
  align-items: center;
  gap: 15px;

  .logoImage {
    width: 30px;
  }

  .title {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: $text-color;
    letter-spacing: 5px;
  }
}
