@use '@/styles/variables.scss' as *;
@use '@/styles/keyframes.scss' as *;

.navigation {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  overflow-y: auto;
  position: sticky;
  top: var(--header-height);
  background-color: $background-color;
  width: $navigation-width;
  flex-shrink: 0;
  max-height: calc(100vh - var(--header-height));
  scrollbar-width: none;
  -ms-overflow-style: none;

  .trailerList {
    display: flex;
    flex-direction: column;

    .trailerItem {
      margin: 10px 15px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: $tablet-max) {
  .navOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $overlay-color;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease 0.1s;
  }

  .navigation {
    left: 0;
    top: var(--header-height);
    bottom: 0;
    position: absolute;
    animation: flyInFromLeft ease 0.3s;
  }
}
