@use '@/styles/variables.scss' as *;

.navigation {
  display: flex;
  flex-direction: column;
  gap: $gap;
  overflow-y: auto;
  position: sticky;
  top: $header-height;
  background-color: $background-color;
  width: $navigation-width;
  flex-shrink: 0;
  max-height: calc(100vh - $header-height);
  scrollbar-width: none;
  -ms-overflow-style: none;

  .trailerList {
    display: flex;
    flex-direction: column;

    .trailerItem {
      margin: 10px 15px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
