@use '@/styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  padding: var(--gap) var(--gap) var(--gap) calc(var(--gap) * 1.1);
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: $background-color;

  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: $text-color;
    flex-shrink: 0;

    .logoImage {
      width: 30px;
    }

    .title {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }

  .searchForm {
    flex: 1;
    flex-basis: 500px;
  }

  .buttonGroup {
    display: flex;
    gap: 10px;
    flex-shrink: 0;

    .cartLink {
      background-color: $subbackground-color;
      color: $text-color;
      padding: 6px 10px;
      border-radius: $border-radius;
    }

    .menu {
      display: none;
    }
  }
}

@media (max-width: $tablet-max) {
  .header .buttonGroup .menu {
    display: flex;
  }

  .cartLink {
    display: none;
  }
}

@media (max-width: $mobile-max) {
  .header .logo {
    padding: 5px;
    border-radius: $border-radius;
    background-color: $subbackground-color;

    .title {
      display: none;
    }
  }
}
