@use '@/styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  padding: $gap $gap $gap calc($gap + 10px);
  position: sticky;
  top: 0;
  background-color: $background-color;

  .searchBar {
    width: 40%;
  }
}
