@use '@/styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap) var(--gap) var(--gap) calc(var(--gap) * 1.1);
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: $background-color;

  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: $text-color;

    .logoImage {
      width: 30px;
    }

    .title {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }

  .searchBar {
    width: 40%;
  }

  .buttonGroup {
    display: flex;
    gap: 10px;

    .cartLink {
      background-color: $subbackground-color;
      color: $text-color;
      padding: 6px 10px;
      border-radius: $border-radius;
    }

    .menu {
      display: none;
    }
  }
}

@media (max-width: $tablet-max) {
  .header .buttonGroup .menu {
    display: flex;
  }
}

@media (max-width: $mobile-max) {
  .header .logo {
    display: none;
  }
}
