@use '@/styles/variables.scss' as *;

.moviePagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: var(--gap);

  .pageInputForm {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: $background-color;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: $text-color;
    border: 1px solid $subbackground-color;

    .pageInput {
      width: 4ch;
      text-align: center;
      background-color: transparent;
      border: none;
      outline: none;
      color: inherit;
      border-radius: 3px;
      border: 1px solid $subbackground-color;
      transition: background-color ease 0.2s;
      background-color: $subbackground-color;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      appearance: textfield;
    }
  }
}
