.genreFilter {
  position: relative;
  display: flex;
  gap: 10px;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 80px;
    width: 40px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to left, #1a1a1a, transparent);
  }

  .tagList {
    display: flex;
    width: calc(100% - 45px);
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .tag {
      white-space: nowrap;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .navigator {
    display: flex;
    gap: 7px;
  }
}
