@use '@/styles/variables.scss' as *;

.productItem {
  display: flex;
  gap: $gap;
  border-bottom: 1px solid $subbackground-color;
  padding: 15px 0;

  .backdrop {
    width: 10%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: $border-radius;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    min-width: 0;
    gap: 3px;

    .title {
      font-size: 1.7rem;
      font-weight: 500;
      color: $text-color;
      display: block;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    .movieMeta {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 1.3rem;
      color: $subtext-color;

      .tag {
        font-size: 1.1rem;
        color: $text-color;
        border: 1px solid $subtext-color;
        border-radius: $border-radius;
        padding: 0 10px;
      }

      .year {
        color: $text-color;
      }

      .rating {
        color: yellow;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;

    .removeButton {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }

    .rent {
      font-size: 1.5rem;
    }
  }
}
