@use './styles/variables.scss' as *;

.app {
  color: $text-color;
  background-color: $background-color;
  min-height: 100vh;

  .body {
    display: flex;
    max-width: 100vw;
    gap: $gap;
    padding: 0 $gap $gap $gap;

    .outletContainer {
      flex: 1;
      min-width: 0;
    }
  }
}
