@use './styles/reset.scss';
@use './styles/scrollBar.scss';
@use './styles/variables.scss' as *;

html {
  font-size: 62.5%;
  background-color: $background-color;
}

#root {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  min-height: 100vh;
}
