@use './styles/reset.scss';

html {
  font-size: 62.5%;
}

#root {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  min-height: 100vh;
}
