@use '@/styles/variables.scss' as *;
@use '@/styles/keyframes.scss' as *;

.filteredMovieList {
  animation: fadeIn 0.2s ease;
  display: grid;
  gap: $gap;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  .movieItem {
    list-style-type: none;
  }
}
